<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fatbit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/public/css/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/public/css/main.css">

        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/jquery-ui.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->