<% include ../partials/header %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 fatbit-header">
				<img src="/public/img/fitbitlogo.png" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="cloud animated fadeInUp">
					<div class="login-container">
						<img src="/public/img/fitbitlogo.png" /><h3>fatbit</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>